/* resume page formatting */

#maybe {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#download-pdf {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    outline: none;
    transition: .6s ease;
}

#download-pdf:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(58, 58, 58), 0 0 10px rgb(161, 160, 160), 0 0 15px rgb(252, 252, 252);
}